<% if @amp_options.size > 0 %>
  <h2>Command-line Options</h2>
    <ul class="summary">
      <% @amp_options.each do |option| %>
        <% option[:options] ||= {} %>
        <li class="public">
          <span class="summary_signature"><%= option[:name] + " #{option[:options]['short']}" %></span>
          <span class="summary_desc">
            <div class="inline">
              <p><%= option[:description] %></p>
            </div>
          </span>
        </li>
      <% end %>
    </ul>
<% end %>
